
h2 {
	text-align: center;
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 21px;
	// line-height: 20px;
}

p {
	font-size: 14px;
	line-height: 10px;
	color: @mediumBrown;
}

#menu {
	margin-bottom: 30px;
	// ul {
	// 	list-style-type: none;
	// }
}

.divider {
	border-bottom: 2px @lightBrown solid;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.home-menu li {
	padding-bottom: 5px;
}

.specials {
	div {
		img {
			width: 100%;
			margin: 0 auto;
		}
	}
}


/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {
	.teamenu {
		.text-left;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {
	.teamenu {
		.text-right;
	}
}

// @media (max-width: @screen-phone-max) {}
// @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {}
// @media (min-width: @screen-md) and (max-width: @screen-md-max) {}
// @media (min-width: @screen-lg) {}
