
h2 {
	text-align: center;
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 21px;
}

p {
	font-size: 14px;	
}

#menu {
	ul {
		list-style-type: none;
	}
}

.menu-col-1,
.menu-col-2,
.menu-col-3 {
	// background: #666;
	// min-height: 300px;
	img {
		width: 360px;
	}
}

// .menu-col-1 {
// 	background: yellow;
// }

// .menu-col-2 {
// 	background: crimson;
// }

// .menu-col-3 {
// 	background: blue;
// }
